//
//  Config.xcconfig
//  OperationPlus
//
//  Created by Matt Massicotte on 2019-01-31.
//  Copyright © 2019 Chime Systems Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "xcconfigs/UniversalFramework_Framework.xcconfig"

PRODUCT_NAME = OperationPlus
PRODUCT_BUNDLE_IDENTIFIER = com.chimehq.OperationPlus
PRODUCT_MODULE_NAME = OperationPlus

INFOPLIST_FILE = OperationPlus/Info.plist
