//
//  OperationPlusTests.xcconfig
//  OperationPlus
//
//  Created by Matt Massicotte on 2019-01-31.
//  Copyright © 2019 Chime Systems Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "xcconfigs/UniversalFramework_Test.xcconfig"

PRODUCT_NAME = OperationPlusTests
PRODUCT_BUNDLE_IDENTIFIER = com.chimehq.OperationPlusTests
PRODUCT_MODULE_NAME = OperationPlusTests

INFOPLIST_FILE = OperationPlusTests/Info.plist
