//
//  OperationTestingPlus.xcconfig
//  OperationPlus
//
//  Created by Matt Massicotte on 2019-01-31.
//  Copyright © 2019 Chime Systems Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_NAME = OperationTestingPlus
PRODUCT_BUNDLE_IDENTIFIER = com.chimehq.OperationTestingPlus
PRODUCT_MODULE_NAME = OperationTestingPlus
INFOPLIST_FILE = OperationTestingPlus/Info.plist
FRAMEWORK_SEARCH_PATHS = $(PLATFORM_DIR)/Developer/Library/Frameworks
MACH_O_TYPE = staticlib
MACOSX_DEPLOYMENT_TARGET = 10.10
IPHONEOS_DEPLOYMENT_TARGET = 8.0
TVOS_DEPLOYMENT_TARGET = 10.0
WATCHOS_DEPLOYMENT_TARGET = 3.0
